{{#a11y-landmark tagName="section"}}
    <label for="search">Search</label>
    <input id="search" name="searchInput" type="text" />
    <button type="submit">Submit</button>
{{/a11y-landmark}}

{{outlet}}